.main-menu-wrapper .inner-wrapper,
.inner-wrapper {
  padding: 0;
  width: 940px;
}

.main-menu-wrapper {
  height: 50px;
}

.has-right-sidebar .content {
  float: left;
  width: 660px;
}

.has-right-sidebar .sidebar {
  float: left;
  margin-left: 2rem;
  width: 250px;
}

.content-row {
  display: flex;
  justify-content: space-between;
}

input.medium {
  width: 47.5%;
}
