.brady-social {
  display: flex;
  list-style: none;
  padding: 0;
}

.main-content-wrapper .brady-social {
  justify-content: flex-end;
  margin: 1rem 0;
}

.subfooter .brady-social {
  justify-content: center;
  margin: 0 0 2rem 0;
}

.brady-social li {
  display: inline-block;
  margin-left: 0.75rem;
}

.brady-social li:first-child {
  margin-left: 0;
}

.social-icon {
  width: 2.5rem;
}
