.subfooter {
  clear: both;
  padding-top: 120px;
}

.subfooter-menu {
  text-align: center;
}

.subfooter-menu .menu-item {
  margin: 0 10px;
}

.subfooter-menu a {
  color: #282870;
}

.subfooter-menu a:hover {
  color: #7b343d;
}

.contact-address {
  font-size: 0.75rem;
  margin: 1.8rem 0 1.3rem;
  text-align: center;
}

.contact-address a {
  color: #000;
  font-weight: normal;
}
