<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    <!-- bxSlider CSS file -->
    <link href="{{ .Site.BaseURL }}css/vendor/bxslider/jquery.bxslider.css" rel="stylesheet" />
    {{ partial "head.html" . }}
  </head>
  <body class="homepage">
    {{ partial "header" . }}
    {{ partial "main-menu" . }}
    <div class="wrapper-full-width main-content-wrapper">
      <div class="inner-wrapper clearfix has-right-sidebar">
        {{ partial "social" . }}
        <div class="bxslider-wrapper">
          <ul class="bxslider">
            <li>
              <img src="{{ .Site.BaseURL }}img/slider/brady-associates-hospital-benchmarks-productivity-more-than-30-years.jpg"
                   alt="Cleveland Hospital Consultants"/>
            </li>
            <li>
              <img src="{{ .Site.BaseURL }}img/slider/hospital-staff-productivity-benchmarks.jpg"
                   alt="Chicago Hospital Consultants" />
            </li>
            <li>
              <img src="{{ .Site.BaseURL }}img/slider/hospital-benchmark-solutions.jpg"
                   alt="Kansas City Hospital Consultants" />
            </li>
          </ul>
        </div>
        <div class="content-wrapper clearfix">
          <div class="content">
            <div class="content-header">
              <h2>We Have Solutions!</h2>
            </div>

            <div class="content-body">

              <p>Hospitals, physician practices, and hospital systems of all sizes, types and locations are experiencing unprecedented <a href="https://khn.org/morning-breakout/hospitals-in-10-states-cut-staff-amid-fears-driven-by-financial-and-political-uncertainty/" target="_blank">financial pressures</a>. This still-developing situation goes beyond affecting access to medical care to pose an existential threat to many <a href="https:\www.npr.org\sections\health-shots\2017\06\26\533973916\after-decline-of-steel-and-coal-ohio-fears-health-care-jobs-are-next" target="_blank">state and local economies</a>. <a href="https://www.huffingtonpost.com/entry/rural-hospitals-closure-georgia_us_59c02bf4e4b087fdf5075e38" target="_blank">Small rural communities</a> are particularly at risk.</p>

              <p>Hospitals, systems, and physicians must develop and implement new and innovative strategies and business models in order to optimize organizational effectiveness in the emerging new environment. Labor costs account for as much as 60% of hospital operating expenses in the United States. Constructively reducing those costs while improving clinical and service quality is now <em>the</em> priority for hospital management teams and has always been our business mission.</p>

              <h3>Whether you want a hospital-wide staffing review…</h3>

              <p><em>IMPACT Plus</em>: Hospitals can obtain staffing benchmarks from any number of companies. The difference is that our workload-based benchmarks position hospital management teams to do something concrete with results, something we've been doing for more than 30 years. Our approach develops department manager buy-in that opens the door to powerful logic-based solutions.</p>

              <p>This powerful <a href="{{ .Site.BaseURL }}videos-and-newsletters/introducing-impact" target="_blank">2-minute video</a> outlines the reasons that other benchmarking efforts don't produce the desired cost management results and explains how IMPACT avoids those mistakes.</p>

              <p><a href="{{ .Site.BaseURL }}videos-and-newsletters/power-of-impact" target="_blank">Follow this link</a> for a 17-minute video with a full description of the IMPACT Database and Peer Group Selection process.</p>

              <p>Want more information? Select from the links listed below to request information you would like to review.</p>

              <ul>
                <li>An example <a href="mailto:info@bradyinc.com?subject=Please%20send%20me%20an%20example%20IMPACT%20Plus%20benchmark-based%20staffing%20review"><em>IMPACT Plus</em> benchmark-based staffing review</a>.</li>
                <li>A one-page flow chart outlining the <a href="mailto:info@bradyinc.com?subject=Please%20send%20me%20an%20example%20IMPACT%20Plus%20benchmark-based%20staffing%20review"><em>IMPACT Plus</em> process</a>.</li>
                <li>A no-obligation example <a href="mailto:info@bradyinc.com?subject=Please%20send%20me%20a%20no-obligation%20example%20IMPACT%20Plus%20Engagement%20Letter%20with%20pricing%20to%20review"><em>IMPACT Plus</em> Engagement Letter with Pricing</a>.</li>
                <li><a href="mailto:Info@bradyinc.com?subject=Please%20send%20me%20information%20on%20how%20often%20staffing%20benchmarks%20should%20be%20updated.">How often staffing benchmarks should be updated.</a></li>
              </ul>

              <p>You will <em>NOT</em> receive a follow-up phone call.</p>

              <h3>…or just want to check staffing in a department or two.</h3>

              <p><em>IMPACT Focus</em>: If you want to review staffing in just one or two departments and don't have the time or budget to undergo a hospital-wide staffing review, <em>IMPACT Focus</em> will do that for you, painlessly, immediately and very cost effectively. It provides convenient same-day benchmarking results for one or more departments using the same powerful <em>IMPACT Plus</em> labor productivity and workload-based staffing benchmarks that hundreds of U.S. hospitals have relied upon for decades.</p>

              <p>This is the ideal tool to use when you have an unbudgeted immediate need to:</p>

              <ul>
                <li>Adjust staffing standards because of utilization changes;</li>
                <li>Play “what if” games for proposed new departments and services;</li>
                <li>React to a department manager's request for additional staffing;</li>
                <li>Develop the labor budget for a new department or service.</li>
              </ul>

              <p>To get started, just send us an <a href="mailto:info@bradyinc.com?subject=Impact%20Focus">e-mail</a> and we’ll send you everything you need to begin. There is no learning curve. You provide a minimal amount of hospital and department data and we do the rest. Turn-around time is very fast. You will receive your reports usually before the end of the next business day.</p>

              <h2><em>IMPACT</em> Organizational Solutions</h2>

              <p>Today's hospital must be able to effectively plan, direct, organize and control resources. It must be able to react quickly when changes occur. If the hospital's structure is inadequate, it will not be able to do so.</p>

              <p>Genuine and potentially very significant opportunities to increase net revenue and reduce expenses are available to hospitals that act to reorganize business lines, realign reporting relationships, and rethink corporate structures. Current and projected revenue and expense trends have created a perfect storm that makes taking action critically important. To learn more about how you can put <a href="{{ .Site.BaseURL }}organization"><em>IMPACT</em> Organizational Solutions</a> to work in your hospital, send us <a href="mailto:info@bradyinc.com?subject=Info%20about%20Organizational%20Solutions">e-mail</a> or call (816) 587-2120. We will be glad to schedule a conference with your senior management team to help you determine if our services are a good fit for your current priorities.</p>

              <p style="border: 1px solid #000; color: #7b343d; font-style: italic; font-weight: bold; line-height: 1.3em; padding: 0.5rem; text-align: center;"><a href="/updates">How Often Should Staffing Benchmarks be Updated?</a></p>
            </div>
          </div>

          {{ partial "sidebar.html" . }}
        </div>

      </div>
    </div>
    {{ partial "subfooter-menu" . }}
    {{ partial "footer" . }}
    <script src="{{ .Site.BaseURL }}js/homepage.js"></script>
  </body>
</html>
