<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    <!-- bxSlider CSS file -->
    <link href="{{ .Site.BaseURL }}css/vendor/bxslider/jquery.bxslider.css" rel="stylesheet" />
    {{ partial "head.html" . }}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="{{ .Site.BaseURL }}js/vendor/bxslider/jquery.bxslider.min.js"></script>
  </head>
  <body class="homepage">
    {{ partial "header" . }}
    {{ partial "main-menu" . }}
    <div class="wrapper-full-width main-content-wrapper">
      <div class="inner-wrapper clearfix has-right-sidebar">
        <div class="bxslider-wrapper">
          <ul class="bxslider">
            <li><img src="{{ .Site.BaseURL }}img/slider/brady-associates-hospital-benchmarks-productivity-more-than-30-years.jpg" /></li>
            <li><img src="{{ .Site.BaseURL }}img/slider/hospital-staff-productivity-benchmarks.jpg" /></li>
            <li><img src="{{ .Site.BaseURL }}img/slider/hospital-benchmark-solutions.jpg" /></li>
          </ul>
        </div>
        <div class="content-wrapper clearfix">
          <div class="content">
            <div class="content-header">
              <h1>We Provide Solutions!</h1>
            </div>

            <div class="content-body">

              <p>Hospital utilization and reimbursement patterns are being reshaped by volatile economic and political forces, the ultimate trajectory of which is impossible to predict. The only thing certain is that hospitals must anticipate change, pro-actively adjust staffing patterns, and develop new organizational structures in order to survive and prosper in an environment defined by price transparency. </p>

              <p>Here are two “must have” solutions that will immediately help you position your hospital for the future.</p>

              <h2>Productivity Solutions</h2>

              <p>The IMPACT benchmark database contains validated staffing and activity information from more than 750 hospitals, 304 unique department types, and 24,000 hospital departments. With IMPACT you can:</p>

              <ul>
                <li>Use activity-based department benchmarks to develop, calibrate and adjust department-level workload-based staffing standards.</li>

                <li>Track workload-based productivity, hours worked to hours paid ratios, and overtime use.</li>

                <li>Identify cost reduction opportunities. Small productivity improvements produce tremendous cost savings. An improvement of only five percent in just four departments (ICU, ED, Laboratory, and a Medical/Surgical Nursing Unit) will produce annualized labor cost savings in excess of $647,000 in a typical mid-size community hospital.</li>
              </ul>

              <p style="border: 1px solid #000; color: #7b343d; font-style: italic; font-weight: bold; line-height: 1.3em; padding: 0.5rem; text-align: center;">Run an IMPACT Quick Check Report NOW – <a href="http://bradyinc.com/pdfs/IMPACT%20Quick%20Check%20Data%20Input%20Template.xlsx" style="color: #282875;">CLICK HERE</a>!</p>

              <h2>Organizational Solutions</h2>

              <p>Today’s hospital must be able to effectively plan, direct, organize and control resources. Most importantly, it must have the ability to react quickly when changes occur. If the hospital’s structure contains too many layers, or if there are span of control issues, it will not be able to do so.</p>

              <p>Genuine and potentially very significant opportunities to increase net revenue and reduce expenses are available to hospitals that act to reorganize business lines, realign reporting relationships, and rethink corporate structures. Current and projected revenue and expense trends have created a perfect storm that makes taking action critically important. To learn more about how you can put IMPACT Organizational Solutions to work in your hospital, send us an <a href="mailto:info@bradyinc.com?subject=Info%20about%20Organizational%20Solutions">e-mail</a> or call (816) 587-2120. We will be glad to schedule a conference with your senior management team to help you determine if our services are a good fit for current priorities.</p>

            </div>
          </div>

          {{ partial "sidebar.html" . }}
        </div>

      </div>
    </div>
    {{ partial "subfooter-menu" . }}
    {{ partial "footer" . }}
    <script src="{{ .Site.BaseURL }}js/homepage.js"></script>
  </body>
</html>
