<div class="content-row">
  <div class="content-column">
    {{ if isset .Site.Params.contact "address" }}
    <h2>By Mail</h2>
    <p class="address">
      {{ range .Site.Params.contact.address }}
        {{ . }}<br />
      {{ end }}
    </p>
    {{ end }}
  </div>
  <div class="content-column">
    {{ if isset .Site.Params.contact "phone" }}
    <h2>By Phone</h2>
    <p class="phone">{{ .Site.Params.contact.phone }}</p>
    {{ end }}

    {{ if isset .Site.Params.contact "fax" }}
    <h2>By Fax</h2>
    <p class="fax">{{ .Site.Params.contact.fax }}</p>
    {{ end }}
  </div>
  <div class="content-column"></div>
</div>

<section>
  <h2>By Email Submission</h2>
  <div class="contact-form">
    {{ if isset .Site.Params.contact "email" }}
    <div>
      <div class="form-notification">
        <p class="error-message">We were unable to submit your question at this time. Please try again later.</p>
        <p class="success-message">Your submission has been successfully submitted. We'll be in touch within 48 hours.</p>
        <span class="remove-notification">x</span>
      </div>
      <form id="contact-form" action="https://formspree.io/{{ .Site.Params.contact.email }}" method="POST">
        <input type="hidden" name="_subject" value="New email from bradyinc.com" />
        <ul class="form-fields">
          <li class="field">
            <label class="label">Name <span class="required-field">*</span></label>
            <input class="medium" type="text" name="name" id="name" placeholder="{{ .Site.Params.contact.form.name }}" required/>
          </li>
          <li class="field">
            <label class="label">Email <span class="required-field">*</span></label>
            <input class="medium" type="email" name="_replyto" name="email" id="email" placeholder="{{ .Site.Params.contact.form.email }}" required/>
          </li>
          <li class="field">
            <label class="label">Subject <span class="required-field">*</span></label>
            <input class="medium" type="text" name="subject" name="subject" id="subject" placeholder="{{ .Site.Params.contact.form.subject }}" required/>
          </li>
          <li class="field">
            <label class="label">Question <span class="required-field">*</span></label>
            <textarea name="question" id="question" placeholder="{{ .Site.Params.contact.form.question }}" rows="4" required></textarea>
          </li>
        </ul>
        <input type="text" name="_gotcha" style="display:none" />
        <button id="contact-submit">{{ .Site.Params.contact.form.submit }}</button>
      </form>
    </div>
    {{ else }}
    <div>&nbsp;</div>
    {{ end }}
  </div>
</section>

<script src="{{ .Site.BaseURL }}js/contact.js"></script>
