<section>
  <div class="contact-form">
    {{ if isset .Site.Params.impactdb "email" }}
    <div>
      <div class="form-notification">
        <p class="error-message">We were unable to submit your question at this time. Please try again later.</p>
        <p class="success-message">Your submission has been successfully submitted. We'll be in touch within 48 hours.</p>
        <span class="remove-notification">x</span>
      </div>
      <form id="contact-form" action="https://formspree.io/{{ .Site.Params.impactdb.email }}" method="POST">
        <input type="hidden" name="_subject" value="New email from bradyinc.com" />
        <ul class="form-fields">
          <li class="field">
            <label class="label">Name <span class="required-field">*</span></label>
            <input class="medium" type="text" name="name" id="name" placeholder="{{ .Site.Params.impactdb.form.name }}" required/>
          </li>
          <li class="field">
            <label class="label">Email <span class="required-field">*</span></label>
            <input class="medium" type="email" name="_replyto" name="email" id="email" placeholder="{{ .Site.Params.impactdb.form.email }}" required/>
          </li>
          <li class="field">
            <label class="label">Phone <span class="required-field">*</span></label>
            <input class="medium" type="tel" name="phone" name="phone" id="phone" placeholder="{{ .Site.Params.impactdb.form.phone }}" required/>
          </li>
          <li class="field">
            <label class="label">Hospital <span class="required-field">*</span></label>
            <input class="medium" type="text" name="hospital" id="hospital" placeholder="{{ .Site.Params.impactdb.form.hospital }}" required/>
          </li>
        </ul>
        <input type="text" name="_gotcha" style="display:none" />
        <button id="contact-submit">{{ .Site.Params.impactdb.form.submit }}</button>
      </form>
    </div>
    {{ else }}
    <div>&nbsp;</div>
    {{ end }}
  </div>
</section>

<script src="{{ .Site.BaseURL }}js/contact.js"></script>
