<header class="header wrapper-full-width">
  <div class="inner-wrapper clearfix">
    <a href="http://www.bradyinc.com"
       class="logo-image">
       <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}"
            alt="{{ .Params.logoalt.graphic }}">
    </a>
    <div class="logo-tagline-wrapper">
      <a id="logo-text" href="http://www.bradyinc.com">
        <img src="{{ .Site.BaseURL }}{{ .Site.Params.logoText }}"
             alt="{{ .Params.logoalt.text }}">
      </a>
      <p class="tagline">We use data, systems thinking, and change management techniques to help hospitals improve their organizational effectiveness.</p>
    </div>
  </div>
</header>
