<div class="main-menu-wrapper wrapper-full-width">
  <div class="inner-wrapper">
    <nav class="main-menu">
      <ul class="menu">
        <li class="menu-item">
          <a href="{{ .Site.BaseURL }}" title="Home">Home</a>
        </li>
        <li class="menu-item">
          <a href="{{ .Site.BaseURL }}about-us" title="About Us">About Us</a>
        </li>
        <li class="menu-item">
          <a href="{{ .Site.BaseURL }}productivity" title="Productivity">Productivity</a>
        </li>
        <li class="menu-item">
          <a href="{{ .Site.BaseURL }}organization" title="Organization">Organization</a>
        </li>
        <li class="menu-item">
          <a href="{{ .Site.BaseURL }}contact-us" title="Contact Us">Contact Us</a>
        </li>
        <li class="menu-item">
          <a href="{{ .Site.BaseURL }}clients" title="Clients">Clients</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
