<div class="sidebar">
  <ul class="icon-callouts">
    <li class="icon-callout">
      <div class="textwidget">
        <a href="{{ .Site.BaseURL }}tip-of-the-week">
          <i class="fa fa-bolt fa-3"></i>
          <h3>Tip of the Week</h3>
        </a>
        <p><em>Tip of the Week</em> is a free weekly video for hospital managers and executives containing actionable performance improvement tips gained from decades of consulting experience in hundreds of U.S. hospitals. <em>Tip of the Week</em> videos are 5 minutes or less in length. All issues are archived here with the most recent listed first.</p>
      </div>
    </li>

    <li class="icon-callout">
      <div class="textwidget">
        <a href="{{ .Site.BaseURL }}organization/">
          <i class="fa  fa-connectdevelop fa-3"></i>
          <h3>Organizational Design</h3>
        </a>
      </div>
    </li>

    <li class="icon-callout">
      <div class="textwidget">
        <a href="{{ .Site.BaseURL }}impact-just-the-numbers-benchmarks/">
          <i class="fa  fa-line-chart fa-3"></i>
          <h3>Productivity Benchmarks</h3>
        </a>
      </div>
    </li>

    <li class="icon-callout">
      <div class="textwidget">
        <a href="{{ .Site.BaseURL }}quick-check/information/">
          <i class="fa fa-info-circle fa-3"></i>
          <h3>Quick Check Information</h3>
        </a>
        <p>Enter here to learn why <em>Quick Check</em> is the most powerful, cost effective, and easy-to-use hospital decision support benchmarking tool available from any source.</p>
      </div>
    </li>

    <li class="icon-callout">
      <div class="textwidget">
        <a href="http://www.profileaccess.com/HRC/login.html" rel="nofollow">
          <i class="fa fa-user fa-3"></i>
          <h3>Subscriber Entrance</h3>
        </a>
        <p>This is a Brady &amp; Associates client entrance. Use this entrance if you are a <em>current subscriber</em> to <em>IMPACT Plus, IMPACT Operations Monitor, Quick Check</em> or other Brady &amp; Associates <em>IMPACT</em> services.</p>
      </div>
    </li>

    <li class="icon-callout">
      <div class="textwidget">
        <a href="{{ .Site.BaseURL }}newsletters">
          <i class="fa fa-envelope fa-3"></i>
          <h3>Newsletters</h3>
        </a>
        <p>Brady &amp; Associates <em>“Choosing the Future”</em> newsletter provides timely news and information for hospital managers and executives working to optimize patient care in “the new normal". This entrance provides
        free public access to all current and past issues as well as to all issues of our earlier <em>“Estimate of the Situation”</em> newsletter.</p>
      </div>
    </li>
  </ul>
</div>
