<ul class="brady-social">
  <li>
    <a href="https://www.facebook.com/Brady-Associates-136910096319122" target="_blank" rel="nofollow" title="Facebook">
      <img class="social-icon" src="{{ .Site.BaseURL }}img/social/facebook.png" alt="Facebook" />
    </a>
  </li>
  <li>
    <a href="https://twitter.com/IMPACT2017" target="_blank" rel="nofollow" title="Twitter">
      <img class="social-icon" src="{{ .Site.BaseURL }}img/social/twitter.png" alt="Twitter" />
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/brady-and-associates-inc.?trk=ppro_cprof" target="_blank" rel="nofollow" title="LinkedIn">
      <img class="social-icon" src="{{ .Site.BaseURL }}img/social/linkedin.png" alt="LinkedIn" />
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/+BradyAssociatesKansasCity" target="_blank" rel="nofollow" title="Google+">
      <img class="social-icon" src="{{ .Site.BaseURL }}img/social/google-plus.png" alt="Google+" />
    </a>
  </li>
</ul>
