<div class="subfooter wrapper-full-width">
  <div class="inner-wrapper">
    {{ partial "social" . }}
    <div class="subfooter-menu-container">
      <ul class="subfooter-menu menu">
        <li class="menu-item">
          <a class="menu-link" href="{{ .Site.BaseURL }}" title="Home">Home</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="{{ .Site.BaseURL }}about-us" title="About Us">About Us</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="{{ .Site.BaseURL }}productivity" title="Hospital Productivity">Productivity</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="{{ .Site.BaseURL }}organization" title="Hospital Organization">Organization</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="{{ .Site.BaseURL }}contact-us" title="Contact Us">Contact Us</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="{{ .Site.BaseURL }}clients" title="Clients">Clients</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="{{ .Site.BaseURL }}faq" title="FAQ">FAQ</a>
        </li>
      </ul>
    </div>
    <p class="contact-address">Brady &amp; Associates | 7667 NW Prairie View Road | Suite #204 | Kansas City, MO 64151 | Phone: (816) 587-2120 | Fax: (816) 587-1698 | <a href="mailto:info@bradyinc.com">info@bradyinc.com</a></p>
  </div>
</div>
